/* Default styles */
.service-section {
    width: 100%;
    height: 630px;
    margin-top: 120px;
    background-color: var(--darklightBlue);
}

.service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-tag {
    margin-top: 50px;
    color: rgb(206, 203, 203);
    font-weight: 400;
    font-size: 12px;
    opacity: 0; /* Initial opacity set to 0 for animations */
}

.service-heading {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-top: 5px;
    letter-spacing: 2px;
    opacity: 0; /* Initial opacity set to 0 for animations */
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.customer-cards-below {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.service-card {
    width: calc(50% - 120px); /* Adjust width as needed */
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative; /* Add position relative to contain the overlay */
    cursor: pointer;
}

.service-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.customer-card,
.country-card {
    background-color: #fff; /* Fallback color in case image fails to load */
}

.customer-card::before,
.country-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 0, 0, 0.2);
    backdrop-filter: blur(1px); 
}

.customer-card {
    background-image: url("../../assets/customers.png");
    object-fit: cover;
}

.country-card {
    background-image: url("../../assets/countries.png");
    object-fit: contain;
}

.card-box1 {
    position: relative; /* Add position relative to contain the overlay */
    z-index: 10; /* Ensure text appears above the overlay */
    padding: 20px;
}

.card-box1 h3 {
    font-size: 24px;
    margin-bottom: 5px; /* Remove default margin */
}

.card-box1 p {
    font-size: 15px;
    font-weight: 600;
}

/* Media queries for responsiveness */

/* For screens smaller than 767px (e.g., smartphones) */
@media screen and (max-width: 767px) {
    .service-section {
        height: auto; /* Auto height for smaller screens */
        margin-top: 80px; /* Adjusted margin-top */
    }

    .service-heading {
        font-size: 24px; /* Decreased font size for smaller screens */
    }

    .service-card {
        width: calc(100% - 40px); /* Full width for service cards on smaller screens */
        margin-bottom: 30px;
        flex-direction: column;
    }
    
    .cards{
        width: 100%;
        flex-direction: column;
    }

    .customer-cards-below{
        flex-direction: column;
        align-items: center;
    }
}

/* For screens between 768px and 1023px (e.g., tablets) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .service-card {
        width: calc(50% - 40px); /* Adjusted width for tablets */
    }
}

/* For screens larger than 1023px (e.g., desktops) */
@media screen and (min-width: 1024px) {
    /* Add any specific styles for larger screens here */
}
