.company-values-section{
    margin-top: 140px;
}

.company-values-content{
    display: flex;
    flex-direction: column;
}

.values-headings{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.company-values-heading{
    font-size: 15px;
    color: var(--green);
    font-weight: 700;
}

.company-values-main-heading{
    color: var(--darkBlue);
    font-size: 30px;
    font-weight: 800;
    margin-top: 5px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.company-values-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.card {
    width: calc(33.33% - 30px); /* Adjust the width as needed */
    margin: 5px; /* Adjust margin as needed */
}