/* General Styles */
.nav {
  width: 100%;
  background-color: #F5F5F5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  width: 55px;
  height: auto;
  border-radius: 50%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--darkBlue);
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  margin-left: 20px;
  text-decoration: none;
}

.section-heading {
  margin: 0;
  font-size: 18px;
  color: var(--darkBlue);
}

.section-heading:hover{
  color: var(--blue);
}


.btn{
  background-color: transparent;
  border: 2px solid rgb(27, 107, 147);
  border-radius: 0.6em;
  color: rgb(27, 107, 147);
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.btn {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px rgb(27, 107, 147) inset;
  }
}


/* Responsive Styles */
@media (max-width: 767px) {
  .menu-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: #F5F5F5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    gap: 0.1rem;
  }

  .navbar-menu.open {
    display: flex;
  }

  .nav-link {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .btn {
    margin:0 auto;
  }
}
